.xgplayer-skin-default {
  .xgplayer-progress {
    display: block;
    position: absolute;
    height: 20px;
    line-height: 20px;
    left: 12px;
    right: 12px;
    outline: none;
    top: -10px;
    z-index: 35;
  }
  .xgplayer-progress-outer {
    background: $progressOuterBgColor;
    display: block;
    height: 3px;
    line-height: 3px;
    margin-top: 8.5px;
    width: 100%;
    position: relative;
    cursor: pointer;
  }
  .xgplayer-progress-cache,.xgplayer-progress-played {
    display: block;
    height: 100%;
    line-height: 1;
    position: absolute;
    left: 0;
    top: 0;
  }
  .xgplayer-progress-cache {
    width: 0;
    background: $progressCacheBgColor;
  }
  .xgplayer-progress-played {
    display: block;
    width: 0;
    background-image: $progressPlayedBgImage;
    border-radius: 0 1.5px 1.5px 0;
  }
  .xgplayer-progress-btn {
    display: none;
    position: absolute;
    left: 0px;
    top: -5px;
    width: 13px;
    height: 13px;
    border-radius: 30px;
    background: #FFFFFF;
    box-shadow: $progressPlayedShadow;
    left: 100%;
    transform: translate(-50%, 0);
  }
  .xgplayer-progress-point {
    position: absolute;
    &.xgplayer-tips {
      margin-left: 0;
      top: -25px;
      display: none;
      z-index: 100;
    }
  }
  .xgplayer-progress-dot {
    display: inline-block;
    position: absolute;
    height: 3px;
    width: 5px;
    top: 0px;
    background: white;
    border-radius: 6px;
    z-index: 16;
    .xgplayer-progress-tip {
      position: absolute;
      left: 0;
      top: -40px;
      height: auto;
      line-height: 30px;
      width: auto;
      transform: scale(0.8);
      background: rgba(0, 0, 0, .3);
      border-radius: 6px;
      border: 1px solid rgba(0, 0, 0, .8);
      cursor: default;
      white-space: nowrap;
      display: none;
    }
  }
  .xgplayer-progress-dot-show {
    .xgplayer-progress-tip {
      display: block;
    }
  }
  .xgplayer-progress-thumbnail {
    position: absolute;
    box-sizing: border-box;
    &.xgplayer-tips {
      margin-left: 0;
      display: none;
      z-index: 99;
    }
  }
  .xgplayer-progress:hover,.xgplayer-progress:focus {
    .xgplayer-progress-outer {
      height: 6px;
      margin-top: 7px;
    }
    .xgplayer-progress-dot {
      height: 6px;
    }
    .xgplayer-progress-btn {
      display: block;
      top: -3px;
    }
  }
}

.xgplayer-skin-default.xgplayer-volume-active {
  .xgplayer-progress {
    z-index: 15;
  }
}
.xgplayer-skin-default.xgplayer-definition-active {
  .xgplayer-progress {
    z-index: 15;
  }
}
.xgplayer-skin-default.xgplayer-texttrack-active {
  .xgplayer-progress {
    z-index: 15;
  }
}
.xgplayer-skin-default.xgplayer-playbackrate-active {
  .xgplayer-progress {
    z-index: 15;
  }
}

.xgplayer-skin-default.xgplayer-mobile {
  .xgplayer-progress-btn {
    display: block !important;
  }
  .xgplayer-progress:hover,.xgplayer-progress:focus{
    .xgplayer-progress-outer{
      height: 3px !important;
      margin-top: 8.5px !important;
    }
    .xgplayer-progress-btn {
      display: block !important;
      top: -5px !important;
    }
  }
}
