.xgplayer-skin-default {
  .xgplayer-replay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
    display: none;
    justify-content: center;
    align-items: center;
    background: $replayBgColor;
    flex-direction: column;
    svg{
      background: $replaySvgBgColor;
      border-radius: 100%;
      cursor: pointer;
      path{
        transform: translate(20px, 21px);
        fill: $replaySvgPathFillColor;
      }
      &:hover{
        background: $replaySvgHoverBgColor;
        path {
          fill: $replaySvgHoverFillColor;
        }
      }
    }
    .xgplayer-replay-txt{
      display: inline-block;
      font-family: PingFangSC-Regular;
      font-size: 14px;
      color: $replayTxtColor;
      line-height: 34px;
    }
  }
}

.xgplayer-skin-default.xgplayer.xgplayer-ended {
  .xgplayer-controls {
    display: none;
  }
  .xgplayer-replay{
    display: flex;
  }
}
