.xgplayer-skin-default {
  .xgplayer-time {
    order: 2;
    font-family: ArialMT;
    font-size: 13px;
    color: $timeColor;
    line-height: 40px;
    height: 40px;
    text-align: center;
    display: inline-block;
    span::after {
      content: "/";
      display: inline-block;
      padding: 0 3px;
    }
    em {
      color: $timeDurationColor;
    }
  }
}
