.xgplayer-skin-default {
    .xgplayer-tips{
      background: $tipsBgColor;
      border-radius: 1px;
      display: none;
      position: absolute;
      font-family: PingFangSC-Regular;
      font-size: $tipsFontsize;
      color: $tipsColor;
      padding: 2px 4px;
      text-align: center;
      top: -30px;
      left: 50%;
      margin-left: -16px;
      width: auto;
      white-space: nowrap;
    }
}
