@import "./svg-url";

$playerBgColor: #000;

.xgplayer {
  background: $playerBgColor;
  width: 100%;
  height: 100%;
  position: relative;
  user-select: none;
  -ms-user-select: none;
  *{
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
  }
  .xgplayer-none{
      display: none
  }
  &.xgplayer-is-fullscreen{
      width: 100%!important;
      height: 100%!important;
      // Undo any aspect ratio padding for fluid layouts
      padding-top: 0 !important;
      z-index: 9999;
  }
  &.xgplayer-is-fullscreen.xgplayer-inactive{
      cursor: none;
  }
  video{
      width:100%;
      height: 100%;
      outline: none;
  }
}

.xgplayer .xgplayer-none{
  display: none;
}