{
    "presets": [
        ["env", {
            "targets": {
                "node": true
            },
            "modules": false
        }]
    ],
    "plugins": [
        "transform-es2015-parameters",
        "transform-es2015-spread"
    ]
}
