node_modules/*
browser/*
dist/*
fixtures/*
examples/*
/**/__tests__/*
/**/dist/*
/**/es/*
jest.config.js
jest.setup.js
babel.config.js
packages/xgplayer-flv.js/*
packages/xgplayer-hls.js/*
packages/xgplayer-shaka/*
packages/xgplayer-helper-transmuxers/*
packages/xgplayer-helper-utils/*
packages/xgplayer-m4a/*
packages/xgplayer-xgvideo/src/decoder/wasm/*
packages/xgplayer-xgvideo/src/decoder/webcodec/*
packages/xgplayer-xgvideo/src/polyfills/*
packages/xgplayer-flv.js/src/flv/*
packages/xgplayer-hls.js/src/hls.js/*