.danmu-switch{
  order: 6;
  z-index: 26;
  margin: 10px auto;
}

.xgplayer-bullet{
  display: none;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  height: 100%;
  overflow: hidden;
  z-index: 9;
  outline: none;
  > * {
    position: absolute;
    white-space: nowrap;
    z-index: 9;
  }

  @at-root .xgplayer-has-bullet {
    display: block;
  }
}
