.xgplayer-definition{
  order: 5;
  width: 60px;
  position: relative;
  outline: none;
  display: none;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 9px;
  margin-bottom: 11px;
  .xgplayer-tips{
    margin-left: -20px;
  }
  &:hover{
    .xgplayer-tips{
      display: block;
      top: -40px;
    }
  }
  &.xgplayer-definition-active{
    ul{
      display: block;
    }
    .xgplayer-tips{
      display: none;
    }
  }
  ul{
    display: none;
    list-style: none;
    width: 78px;
    background: $definitionUlBgColor;
    border-radius: 1px;
    position: absolute;
    bottom: 30px;
    left: 0;
    text-align: center;
    white-space: nowrap;
    margin-left: -10px;
    z-index: 26;
    li{
      opacity: 0.7;
      font-family: PingFangSC-Regular;
      font-size: 11px;
      color: $definitionLiColor;
      padding: 6px 13px;
      &.definition{
        color: $definitionLiActiveColor;
        opacity: 1;
      }
    }
    &::after{
      content: " ";
      display: inline-block;
      height: 30px;
      width: 100%;
      position: absolute;
      bottom: -20px;
      left: 0;
    }
  }
  .name {
    text-align: center;
    font-family: PingFangSC-Regular;
    font-size: 13px;
    line-height: 20px;
    height: 20px;
    color: $definitionNameColor;
    em{
      width: 60px;
      height: 20px;
      line-height: 20px;
      background: $definitionNameBgColor;
      border-radius: 10px;
      display:inline-block;
      vertical-align:middle;
    }
  }
  @at-root .xgplayer-is-definition &{
    display: block;
  }
}
