.xgplayer-fullscreen{
  order: 11;
  position: relative;
  display: inline-block;
  cursor: pointer;
  .xgplayer-icon{
    margin: 4px -4px 0 0;
  }
  &:hover {
    .xgplayer-tips {
      display: block;
    }
  }
  @at-root .xgplayer.xgplayer-fullscreen-active{
    position: fixed !important;
    left: 0 !important;
    top: 0 !important;
    width: 100%!important;
    height: 100%!important;
    z-index: 99999 !important;
  }
}