.xgplayer-mobile{
  .xgplayer-progress-btn{
    display: block
  }
  .xgplayer-progress:hover,.xgplayer-progress:focus{
    .xgplayer-progress-outer{
      height: 3px;
      margin-top: 8.5px;
    }
    .xgplayer-progress-dot{
      height: 3px;
    }
  }
  &.xgplayer-ended{
    .xgplayer-start{
      display: none;
    }
    .xgplayer-start-img{
      display: none;
    }
  }
  &.xgplayer-inactive{
    .xgplayer-start{
      display: none;
    }
    .xgplayer-start-img{
      display: none;
    }
  }
  .xgplayer-start{
    width: 60px;
    height: 60px;
    line-height: 60px;
    display: none;
    margin: -50px auto auto -30px;
    svg{
      margin: 10px;
    }
  }
  .xgplayer-start-img{
    display: none;
  }
  .xgplayer-tips{
    display: none !important;
  }
  &.xgplayer-nostart{
    .xgplayer-start{
      margin: -30px auto auto -30px;
      display: block;
    }
    .xgplayer-start-img{
      display: block;
    }
  }
  & .xgplayer-loading{
    transform: scale(0.5)
  }
  &.xgplayer-mobile-npassed{
    .xgplayer-controls{
      display: none;
    }
    .xgplayer-poster{
      display: none;
    }
    .xgplayer-start{
      display: none;
    }
    .xgplayer-start-img{
      display: none;
    }
  }
}
