.xgplayer-playback{
  order: 8;
  position: relative;
  outline: none;
  display: block;
  cursor: pointer;
  margin: 10px;
  height: 20px;
  .name {
    text-align: center;
    font-family: PingFangSC-Regular;
    font-size: 13px;
    line-height: 20px;
    height: 20px;
    color: $definitionNameColor;
    span{
      width: 40px;
      height: 20px;
      line-height: 20px;
      background: $definitionNameBgColor;
      border-radius: 10px;
      display:inline-block;
      vertical-align:middle;
    }
  }
  &:hover {
    .xgplayer-tips {
      display: block;
      top: -40px;
    }
  }
}
