.xgplayer-play, .xgplayer-play-img{
  position: relative;
  order: 0;
  display: block;
  cursor: pointer;
  .xgplayer-icon{
    margin-top: 3px;
  }
  &:hover{
    opacity: 0.85;
    .xgplayer-tips{
      display: block;
    }
  }
}