.xgplayer-slider{
  display: block;
  position: absolute;
  width: 28px;
  height: 88px;
  background: $sliderBgColor;
  border-radius: 1px;
  bottom: 50px;
  outline: none;
  left: 0;
  &:after{
    content:" ";
    display:block;
    height: 15px;
    width:28px;
    position: absolute;
    bottom: -15px;
    left: 0;
    z-index: 20;
  }
}