.xgplayer-start{
  border-radius: 50%;
  display: inline-block;
  width: 70px;
  height: 70px;
  background: $startBgColor;
  overflow: hidden;
  text-align: center;
  line-height: 70px;
  vertical-align: middle;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1000;
  margin: -55px auto auto -35px;
  cursor: pointer;
  @at-root .xgplayer-nostart &{
    margin: -35px auto auto -35px;
  }
  @at-root .xgplayer-inactive &{
    margin: -35px auto auto -35px;
  }
  svg{
    fill: $startSvgFill;
    margin: 14px;
  }
  &.xgplayer-start-interact{
    animation: playPause 0.4s ease-out forwards;
  }
  &:hover{
    background: $startHoverBgColor;
    svg {
      fill: $startHoverFillColor;
    }
  }
}

.xgplayer-start-img{
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1000;
  cursor: pointer;
  @at-root .xgplayer-nostart &{
    display: block;
  }
  &.xgplayer-start-interact{
    animation: playPause 0.4s ease-out forwards;
  }
  &:hover{
    opacity: 0.85;
  }
}