.xgplayer-volume{
  outline: none;
  order: 4;
  width: 28px;
  height: 140px;
  display: inline-block;
  position: relative;
  margin-top: -100px;
  z-index: 16;
  .xgplayer-icon{
    margin-top: 8px;
    cursor: pointer;
    position: absolute;
    bottom: -10px;
  }
}

.xgplayer-slider{
  display: block;
  position: absolute;
  width: 28px;
  height: 88px;
  background: $sliderBgColor;
  border-radius: 1px;
  bottom: 50px;
  outline: none;
  left: 0;
  &:after{
    content:" ";
    display:block;
    height: 15px;
    width:28px;
    position: absolute;
    bottom: -15px;
    left: 0;
    z-index: 20;
  }
}

.xgplayer-bar,.xgplayer-drag{
  display: block;
  position: absolute;
  bottom: 6px;
  left: 12px;
  background: $sliderBarBgColor;
  border-radius: 100px;
  width: 4px;
  height: 76px;
  outline: none;
  cursor: pointer;
}
.xgplayer-drag{
  bottom: 0;
  left: 0;
  background: $sliderDragBgColor;
  max-height: 76px;
  &:after{
    content: " ";
    display: inline-block;
    width: 8px;
    height: 8px;
    background: $sliderDragAfterBgColor;
    box-shadow: $sliderDragAfterShadow;
    position: absolute;
    border-radius: 50%;
    left: -2px;
    top: -6px;
  }
}
