/** xgplayer base style begain**/
.xgplayer{
  background: $playerBgColor;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  overflow: hidden;
  cursor: pointer;
  * {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
  }
  ul, li {
    list-style: none;
  }
  .xgplayer-none {
      display: none
  }
  &.xgplayer-inactive{
    cursor: none;
  }
  &.xgplayer-is-fullscreen{
      width: 100%;
      height: 100%;
      position: fixed;
      top:0;
      left: 0;
      padding: 0;
      margin: 0;
      z-index: 9999;
  }
  video {
    width:100%;
    height: 100%;
    outline: none;
    position: absolute;
    top: 0;
    left: 0;  
  }
  &[data-xgfill=cover] {
    video {
      object-fit: cover;
    }
  }

  &[data-xgfill=fill] {
    video {
      object-fit: fill;
    }
  }

  .btn-text {
    top: 50%;
    position: relative;
    text-align: center;
    font-family: PingFangSC-Regular;
    font-size: 13px;
    height: 24px;
    color: $definitionNameColor;
    span {
      min-width: 60px;
      height: 24px;
      line-height: 24px;
      background: $definitionNameBgColor;
      border-radius: 12px;
      display:inline-block;
    }
  }
  
  /** xgplayer cssFullscreen style  begain**/
  &.xgplayer-is-cssfullscreen {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
  }
  /** xgplayer cssFullscreen style  end**/
}
/** xgplayer base style ended **/
/** root bar style begain **/
$barWidth: 50px;
$barBottom: 50px;
.xgplayer {
  xg-bar {
    display: block;
  }
  &.xgplayer-inactive, &.xgplayer-mini, &.xgplayer-ended {
    xg-bar {
      display: none;
    }
  }
  .xg-top-bar {
    position: absolute;
    z-index: 83;
    top: 0;
    left: 0;
    width: 100%;
    height: $barWidth;
    display: flex;
  }
  .xg-left-bar, .xg-right-bar {
    position: absolute;
    z-index: 81;
    top: 0;
    bottom: $barWidth;
    margin-top: $barWidth;
    width: $barWidth;
  }
  .xg-left-bar {
    left: 0;
  }
  .xg-right-bar {
    right: 0;
  }
}
/*  root bar style ended */