@keyframes playPause {
    0% {
        transform: scale(1,1);
        opacity: 1;
    }
    99% {
        transform: scale(1.3, 1.3);
        opacity: 0;
    }
    100% {
        transform: scale(0,0);
        opacity: 0;
    }
}
@keyframes loadingRotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes loadingDashOffset {
    0% {
        stroke-dashoffset: 236;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes enterTips{
    0% {
        opacity: 0;
        left: 0;
        width: 3px;
    }
    50% {
        opacity: 1;
        left: 50%;
        width: 5px;
    }
    100% {
        opacity: 0;
        left: 100%;
        width: 3px;
    }
}
.xgplayer{
    background: $playerBgColor;
    width: 100%;
    height: 100%;
    position: relative;
    *{
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    .xgplayer-none{
        display: none
    }
    &.xgplayer-is-fullscreen{
        width: 100%!important;
        height: 100%!important;
        z-index: 9999;
    }
    video{
        width:100%;
        height: 100%;
        outline: none;
    }
}
.xgplayer-icon {
    display: block;
    width: 40px;
    height: 40px;
    overflow: hidden;
    fill:$playerIconColor;
}
.xgplayer-controls{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-image: $controlsBgImage;
    z-index: 10;
    @at-root .xgplayer-nostart &{
        display: none;
    }
    @at-root .xgplayer-inactive & {
        display: none;
    }
    @at-root .xgplayer-is-live & {
        > *{
            display: none;
        }
        .xgplayer-play,
        .xgplayer-placeholder,
        .xgplayer-volume,
        .xgplayer-live,
        .xgplayer-fullscreen {
            display: block;
        }
    }
}
.xgplayer-progress{
    display: block;
    position: absolute;
    height: 20px;
    line-height: 20px;
    left: 0;
    right: 0;
    outline: none;
    top: -10px;
    z-index: 15;
}
.xgplayer-progress-outer{
    background: $progressOuterBgColor;
    display: block;
    height: 3px;
    line-height: 3px;
    margin-top: 8.5px;
    width: 100%;
    position: relative;
    cursor: pointer;
}
.xgplayer-progress-cache,.xgplayer-progress-played{
    display: block;
    height: 100%;
    line-height: 1;
    position: absolute;
    left: 0;
    top: 0;
}
.xgplayer-progress-cache{
    width: 0;
    background: $progressCacheBgColor;
}
.xgplayer-progress-played{
    display: block;
    width: 0;
    background-image: $progressPlayedBgImage;
    border-radius: 0 1.5px 1.5px 0;
    &:after{
        content:" ";
        display: none;
        position: absolute;
        right: -4px;
        top: -4px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: #FFFFFF;
        box-shadow: $progressPlayedShadow;
    }
}
.xgplayer-progress-point{
    position: absolute;
    &.xgplayer-tips{
        margin-left: 0;
        top: -25px;
        display: none;
        z-index: 100;
    }
}
.xgplayer-progress-thumbnail{
    position: absolute;
    box-sizing: border-box;
    &.xgplayer-tips{
        margin-left: 0;
        display: none;
        z-index: 99;
    }
}
.xgplayer-progress:hover,.xgplayer-progress:focus{
    .xgplayer-progress-outer{
        height: 6px;
        margin-top: 7px;
    }
    .xgplayer-progress-played:after{
        display: block
    }
}
.xgplayer-play{
    position: relative;
    order: 0;
    display: block;
    cursor: pointer;
    .xgplayer-icon{
        margin-top: 3px;
    }
    &:hover{
        .xgplayer-tips{
            display: block;
        }
    }
}
.xgplayer-time{
    order: 2;
    font-family: ArialMT;
    font-size: 13px;
    color: $timeColor;
    line-height: 40px;
    display: inline-block;
    span::after{
        content: "/";
        display: inline-block;
        padding: 0 3px;
    }
    em{
        color: $timeDurationColor;
    }
}
.xgplayer-tips{
    background: $tipsBgColor;
    border-radius: 1px;
    display: none;
    position: absolute;
    font-family: PingFangSC-Regular;
    font-size: $tipsFontsize;
    color: $tipsColor;
    padding: 2px 4px;
    text-align: center;
    top: -30px;
    left: 50%;
    margin-left: -16px;
    width: auto;
    white-space: nowrap;
}
.xgplayer-volume{
    outline: none;
    order: 4;
    display: inline-block;
    position: relative;
    cursor: pointer;
    .xgplayer-icon{
        margin-top: 8px;
    }
}
.xgplayer-slider{
    display: block;
    position: absolute;
    width: 28px;
    height: 88px;
    background: $sliderBgColor;
    border-radius: 1px;
    bottom: 50px;
    outline: none;
    left: 0;
    &:after{
        content:" ";
        display:block;
        height: 15px;
        width:28px;
        position: absolute;
        bottom: -15px;
        left: 0;
        z-index: 20;
    }
}
.xgplayer-bar,.xgplayer-drag{
    display: block;
    position: absolute;
    bottom: 6px;
    left: 12px;
    background: $sliderBarBgColor;
    border-radius: 100px;
    width: 4px;
    height: 76px;
    outline: none;
}
.xgplayer-drag{
    bottom: 0;
    left: 0;
    background: $sliderDragBgColor;
    max-height: 76px;
    &:after{
        content: " ";
        display: inline-block;
        width: 8px;
        height: 8px;
        background: $sliderDragAfterBgColor;
        box-shadow: $sliderDragAfterShadow;
        position: absolute;
        border-radius: 50%;
        left: -2px;
        top: -6px;
    }
}
.xgplayer-placeholder{
    flex:1;
    order: 3;
    display: block;
}

.xgplayer-start{
    border-radius: 50%;
    display: inline-block;
    width: 70px;
    height: 70px;
    background: $startBgColor;
    overflow: hidden;
    text-align: center;
    line-height: 70px;
    vertical-align: middle;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1000;
    margin: -55px auto auto -35px;
    cursor: pointer;
    @at-root .xgplayer-nostart &{
        margin: -35px auto auto -35px;
    }
    @at-root .xgplayer-inactive &{
        margin: -35px auto auto -35px;
    }
    svg{
        fill: $startSvgFill;
        margin: 14px;
    }
    &.xgplayer-start-interact{
        animation: playPause 0.4s ease-out forwards;
    }
    &:hover{
        background: $startHoverBgColor;
        svg {
            fill: $startHoverFillColor;
        }
    }
}

.xgplayer-definition{
    order: 5;
    width: 60px;
    position: relative;
    outline: none;
    display: none;
    cursor: pointer;
    margin-left: 10px;
    .xgplayer-tips{
        margin-left: -20px;
    }
    &:hover{
        .xgplayer-tips{
            display: block;
        }
    }
    &.xgplayer-definition-active{
        ul{
            display: block;
        }
        .xgplayer-tips{
            display: none;
        }
    }
    ul{
        display: none;
        list-style: none;
        width: 78px;
        background: $definitionUlBgColor;
        border-radius: 1px;
        position: absolute;
        bottom: 50px;
        left: 0;
        text-align: center;
        white-space: nowrap;
        margin-left: -10px;
        z-index: 26;
        li{
            opacity: 0.7;
            font-family: PingFangSC-Regular;
            font-size: 11px;
            color: $definitionLiColor;
            padding: 6px 13px;
            &.definition{
                color: $definitionLiActiveColor;
                opacity: 1;
            }
        }
        &::after{
            content: " ";
            display: inline-block;
            height: 30px;
            width: 100%;
            position: absolute;
            bottom: -20px;
            left: 0;
        }
    }
    .name {
        text-align: center;
        font-family: PingFangSC-Regular;
        font-size: 13px;
        line-height: 40px;
        color: $definitionNameColor;
        em{
            width: 60px;
            height: 20px;
            line-height: 20px;
            padding: 1px 0px;
            background: $definitionNameBgColor;
            border-radius: 10px;
            display:inline-block;
            vertical-align:middle;
        }
    }
    @at-root .xgplayer-is-definition &{
        display: block;
    }
}

.xgplayer-playback{
    order: 8;
    position: relative;
    outline: none;
    display: block;
    cursor: pointer;
    margin-left: 10px;
    .name {
        text-align: center;
        font-family: PingFangSC-Regular;
        font-size: 13px;
        line-height: 40px;
        color: $definitionNameColor;
        span{
            width: 40px;
            height: 20px;
            line-height: 20px;
            padding: 1px 10px;
            background: $definitionNameBgColor;
            border-radius: 10px;
            display:inline-block;
            vertical-align:middle;
        }
    }
    &:hover {
        .xgplayer-tips {
            display: block;
        }
    }
}

.xgplayer-fullscreen{
    order: 10;
    position: relative;
    display: inline-block;
    cursor: pointer;
    .xgplayer-icon{
        margin: 4px -4px 0 0;
    }
    &:hover {
        .xgplayer-tips {
            display: block;
        }
    }
    @at-root .xgplayer-is-fullscreen .xgplayer-fullscreen .xgplayer-tips{
        left: -30%;
    }
    @at-root .xgplayer.xgplayer-fullscreen-active{
        position: fixed !important;
        left: 0 !important;
        top: 0 !important;
        width: 100%!important;
        height: 100%!important;
        z-index: 99999 !important;
    }
}

.xgplayer-bullet-btn{
    width: 32px;
    height: 20px;
    border-radius: 100px;
    background-color: #ccc;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
    order: 5;
    z-index: 26;
    position: relative;
    text-align: center;
    margin: 10px auto;
    &.xgplayer-bullet-btn-active{
        padding-left: 12px;
        background-color: #f85959;
    }
    span.txt{
      width: 20px;
    	height: 20px;
      line-height: 20px;
      text-align: center;
      display: block;
    	border-radius: 100px;
    	background-color: #ffffff;
    	box-shadow: -2px 0 0 0 rgba(0, 0, 0, 0.04);
    	font-family: PingFangSC;
    	font-size: 10px;
    	font-weight: 500;
    	color: #f44336;
    }
}

.xgplayer-bullet{
    display: none;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 3em;
    overflow: hidden;
    z-index: 9;
    outline: none;
    cursor: pointer;
    span{
      position: absolute;
      padding: 5px;
      white-space: nowrap;
      z-index: 9;
      cursor: pointer;
    }

    @at-root .xgplayer-has-bullet {
        display: block;
    }
}

.xgplayer-loading{
    display: none;
    width: 100px;
    height: 100px;
    overflow: hidden;
    transform: scale(0.7);
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -70px auto auto -50px;
    svg{
        border-radius: 50%;
        transform-origin: center;
        animation: loadingRotate 1s linear infinite;
        path{
            stroke: #ddd;
            stroke-dasharray: 236;
            animation: loadingDashOffset 2s linear infinite;
            animation-direction: alternate-reverse;
            fill: none;
            stroke-width: 12px;
        }
    }
    @at-root .xgplayer-nostart .xgplayer-loading{
        display: none;
    }
    @at-root .xgplayer-isloading .xgplayer-loading{
        display: block;
    }
}

.xgplayer-replay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
    display: none;
    justify-content: center;
    align-items: center;
    background: $replayBgColor;
    flex-direction: column;
    svg{
        background: $replaySvgBgColor;
        border-radius: 100%;
        cursor: pointer;
        path{
            transform: translate(20px, 21px);
            fill: $replaySvgPathFillColor;
        }
        &:hover{
            background: $replaySvgHoverBgColor;
            path {
                fill: $replaySvgHoverFillColor;
            }
        }
    }
    .xgplayer-replay-txt{
        display: inline-block;
        font-family: PingFangSC-Regular;
        font-size: 14px;
        color: $replayTxtColor;
        line-height: 34px;
        cursor: pointer;
    }

    @at-root .xgplayer.xgplayer-ended{
        .xgplayer-controls {
            display: none;
        }
        .xgplayer-replay{
            display: flex;
        }
    }
}

.xgplayer-enter{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url($enterBgImage) no-repeat center center / cover;
    z-index: 1100;
    .xgplayer-enter-logo{
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 130px;
        height: 38px;
        margin: -19px auto auto -69px;
        background: url($enterLogo) no-repeat center center / cover;
    }
    .xgplayer-enter-tips{
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 120px;
        height: 1px;
        background: $enterTipsBgColor;
        margin: 32px auto auto -62px;
        &:before{
            content: " ";
            display: block;
            width: 5px;
            height: 1px;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 0;
            animation: enterTips 1.6s linear infinite;
            background: #fff;
        }
    }
    @at-root .xgplayer-is-enter &{
        display: block;
    }
}

.xgplayer-poster{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-size: cover;
}
.xgplayer-live{
    display: block;
    font-size: 12px;
    color: $liveColor;
    line-height: 40px;
    order: 1;
}

.xgplayer .xgplayer-none{
    display: none;
}

.xgplayer-error{
    background: $errorBgColor;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width:100%;
    height: 100%;
    z-index: 1200;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: $errorColor;
    text-align: center;
    line-height: 100%;
    justify-content: center;
    align-items: center;
    .xgplayer-error-refresh{
        color: $errorRefreshColor;
        padding: 0 3px;
        cursor: pointer;
    }
    @at-root .xgplayer-is-error &{
        display: flex;
    }
}
.xgplayer-mobile{
    &.xgplayer-ended{
        .xgplayer-start{
            display: none;
        }
    }
    &.xgplayer-inactive{
        .xgplayer-start{
            display: none;
        }
    }
    .xgplayer-start{
        width: 60px;
        height: 60px;
        line-height: 60px;
        display: none;
        margin: -50px auto auto -30px;
        svg{
            margin: 10px;
        }
    }
    &.xgplayer-nostart{
        .xgplayer-start{
            margin: -30px auto auto -30px;
            display: block;
        }
    }
    & .xgplayer-loading{
        transform: scale(0.5)
    }
    &.xgplayer-mobile-npassed{
        .xgplayer-controls{
            display: none;
        }
        .xgplayer-poster{
            display: none;
        }
        .xgplayer-start{
            display: none;
        }
    }
}
