// order:
// xgplayer-play  0
// xgplayer-time  2
// xgplayer-placeholder 3
// xgplayer-volume 4
// xgplayer-definition 5
// xgplayer-bullet-btn 6
// xgplayer-textTrack 7
// xgplayer-playback 8
// xgplayer-fullscreen 10

@import "player/animation";
@import "player/download";
@import "player/rotate";

.xgplayer{
    background: $playerBgColor;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    user-select: none;
    -ms-user-select: none;
    *{
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    .xgplayer-none{
        display: none
    }
    &.xgplayer-is-fullscreen{
        width: 100%!important;
        height: 100%!important;
        z-index: 9999;
    }
    &.xgplayer-is-fullscreen.xgplayer-inactive{
        cursor: none;
    }
    video{
        width:100%;
        height: 100%;
        outline: none;
    }
}
.xgplayer-icon {
    display: block;
    width: 40px;
    height: 40px;
    overflow: hidden;
    fill:$playerIconColor;
}

@import "player/controls";
@import "player/progress";
@import "player/play";
@import "player/time";
@import "player/tips";
@import "player/volume";
@import "player/placeholder";
@import "player/start";
@import "player/texttrack";
@import "player/defination";
@import "player/playback";
@import "player/pip";
@import "player/fullscreen";
@import "player/bullet";
@import "player/loading";
@import "player/replay";
@import "player/enter";

.xgplayer-poster{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-size: cover;
    background-position: center center;
}
.xgplayer-live{
    display: block;
    font-size: 12px;
    color: $liveColor;
    line-height: 40px;
    order: 1;
}

.xgplayer .xgplayer-none{
    display: none;
}

@import "player/error";
@import "player/mobile";
