.xgplayer {
  .xgplayer-cast-muted-tip {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 4px; 
    white-space: nowrap;
  }
}