.xgplayer-music{
    .xgplayer-controls {
        display: flex;
        height: 50px;
        cursor: default;
        .xgplayer-backward, .xgplayer-backward-img {
            order: 0;
            cursor: pointer;
            &:hover{
                opacity: 0.85;
            }
        }
        .xgplayer-prev, .xgplayer-prev-img {
            order: 1;
            cursor: pointer;
            &:hover{
                opacity: 0.85;
            }
        }
        .xgplayer-play, .xgplayer-play-img {
            order: 2;
            .xgplayer-tips {
                display: none;
            }
        }
        .xgplayer-next, .xgplayer-next-img {
            order: 3;
            cursor: pointer;
            &:hover{
                opacity: 0.85;
            }
        }
        .xgplayer-forward, .xgplayer-forward-img {
            order: 4;
            cursor: pointer;
            &:hover{
                opacity: 0.85;
            }
        }
        .xgplayer-poster {
            position: static;
            order: 5;
            width: 40px;
            height: 40px;
            text-align: center;
            vertical-align: middle;
            position: relative;
            top: 50%;
            margin-top: -17px;
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
        .xgplayer-progress {
            position: relative;
            order: 6;
            top: 70%;
            left: 20px;
            margin-top: -11px;
            flex: 99;
            >* {
                height: 3px;
                margin-top: 8.5px;
            }
            .xgplayer-progress-played:after {
                top: -4px;
                width: 10px;
                height: 10px;
                content: " ";
                display: block;
            }
            .xgplayer-tips {
                display: none !important;
            }
        }
        .xgplayer-time {
            order: 7;
            margin-left: 30px;
            line-height: 1;
            position: relative;
            top: 55%;
        }
        .xgplayer-placeholder {
            order: 999;
            width: 0;
        }
        .xgplayer-icon {
            padding-top: 5px;
        }
        .xgplayer-name {
            position: absolute;
            left: 255px;
            bottom: 50%;
            font-size: 12px;
            color: #ddd;
        }
    }
    &.xgplayer-ended .xgplayer-controls{
        display: flex;
    }
}
.xgplayer-lyric-item {
    display: block;
    line-height: 22px;
    font-size: 14px;
    color: black;
    &.xgplayer-lyric-item-active {
        color: aquamarine;
    }
}
.xgplayer-lrcWrap {
    overflow: auto;
    height:300px;
    border: 1px solid #ddd;
    padding: 20px;
}
.xgplayer-lrcForward {
    position: absolute;
    top: 20%;
    left: 300px;
    cursor: pointer;
    width:0;
    height:0;
    border-width:0 10px 10px;
    border-style:solid;
    border-color:transparent transparent #333;/*透明 透明  灰*/
}
.xgplayer-lrcBack {
    position: absolute;
    top: 80%;
    left: 300px;
    cursor: pointer;
    width:0;
    height:0;
    border-width:10px 10px 0;
    border-style:solid;
    border-color:#333 transparent transparent;/*透明 透明  灰*/
}
