@import "../style/variable";

.xgplayer{
  background: $playerBgColor;
  width: 100%;
  height: 100%;
  position: relative;
  user-select: none;
  -ms-user-select: none;
  *{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  .xgplayer-none{
    display: none
  }
  &.xgplayer-is-fullscreen{
    width: 100%!important;
    height: 100%!important;
    // Undo any aspect ratio padding for fluid layouts
    padding-top: 0 !important;
    z-index: 9999;
  }
  &.xgplayer-is-fullscreen.xgplayer-inactive{
    cursor: none;
  }
  video{
    width:100%;
    height: 100%;
    outline: none;
  }
}

@import "../plugins/icons/playIcon/index";
@import "../plugins/start/index";
@import "../plugins/enter/index";
@import "../plugins/poster/index";
@import "../plugins/placeholder/index";
@import "../plugins/icons/fullscreen/index";
@import "../plugins/icons/cssFullScreen/index";
@import "../plugins/icons/volumeIcon/index";
@import "../plugins/icons/definitionIcon/index";
@import "../plugins/icons/timeIcon/index";
@import "../plugins/Controls/index";
//@import "controls/live";
@import "../plugins/loading/index";
@import "../plugins/icons/playbackRateIcon/index";
//@import "controls/danmu";
@import "../plugins/icons/pipIcon/index";
@import "../plugins/icons/rotate/index";
@import "../plugins/icons/screenShotIcon/index";
//@import "../plugins/icons/textTrack";
//@import "controls/icon";
//@import "controls/tips";
@import "../plugins/error/index";
@import "../plugins/baseBar/index";
@import "../plugins/miniScreen/index";
@import "../plugins/danmu/index";
