@import "../style/index";
@import "../plugins/play/index";
@import "../plugins/start/index";
@import "../plugins/enter/index";
@import "../plugins/poster/index";
@import "../plugins/fullscreen/index";
@import "../plugins/cssFullScreen/index";
@import "../plugins/volume/index";
@import "../plugins/definition/index";
@import "../plugins/time/index";
@import "../plugins/controls/index";
@import "../plugins/replay/index";
@import "../plugins/progress/index";
@import "../plugins/loading/index";
@import "../plugins/playbackRate/index";
@import "../plugins/download/index";
@import "../plugins/playNext/index";
@import "../plugins/pip/index";
@import "../plugins/rotate/index";
@import "../plugins/screenShot/index";
@import "../plugins/error/index";
@import "../plugins/mobile/index";
